*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: row;
}
/* Wrapper-Set up Web full size layout */
#wrapper-div{
  display: flex;
  flex-direction: column;
  width: 85%;
  min-height: 100px;
  margin: auto;
}
/* Logo--Navegation-menu */
.nav {
  background-color:#B2E3F8;
  padding: 0 15px;
}
.a {
  color: #06172d;
  text-decoration: none;
}
.menu,
.submenu {
  list-style: none;
}
/* Web Logo*/
.logo {
  padding: 7.5px 10px 7.5px 0px;
}
.item {
  padding: 10px;
}
/* Change the nav color to #rgb(202, 37, 92) (pink) on hover */
.item:not(.buttom) a:hover,
.item a:hover::after {
  color: rgb(202, 37, 92);
}
/* Nav Menu*/
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a{
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a{
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.items {
  order: 2;
  width: 100%;
  text-align: center;
  /*display: none;*/
}
.active .item{
  display: block;
}
/* Submenus */
.submenu {
  display: none;
}
.submenu-active .submenu{
  display: block;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color:#06172d
  padding-left:5px;
}
.subitem a{
  padding: 10px 15px;
}
.submenu-active {
  background-color: aliceblue;
  border-radius: 3px;
}
/* Toggle funtionality */


/* Header - Banner */
#header-banner-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 80px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
/* Buttom set up */
button{
  background: transparent;
  border: none;
  padding: 0px 50px;
  cursor: pointer;
}

#boxes-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 200px;
  margin-top: 10px;
  justify-content: space-between;
  justify-content: space-around;
}
.box{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
}
.text{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #06172d;
  font-size: 16px;
  padding: 15px;
  white-space:inherit;
  overflow:visible;
  text-align:center;
}
/* Recent */
#intro-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
/* How to cente the hr */

h2{
  position:relative;
  font-family:'Times New Roman', Times, serif;
  color: #06172d;
  text-align: center;
}
/* Recent Media Content / Logo Button */
#content-box-div{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 40px;
  margin-top: 5px;
  justify-content: center;
  place-content: flex-start top;
  margin-top: -50px;
}
.content{
  display:inline-flex;
  flex-direction: row;
  flex-basis: 10%;
  justify-content: center;
  align-items: flex-start;
  place-content: flex-start; 
}

/* Footer */
.footer-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 2rem;
  background-color:#B2E3F8;
  width: 100%;
  max-height: 180px;
}
/* Img / Profile logo*/
.footer-logo{
  width: 10rem;
  margin-left: -5px;
  margin-right: -20px;
  text-align: left;
}
/* Footer Section*/
.footer-section-wrapper{
  flex-grow:inherit;
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.25;
  margin-left: -30px;
  margin-top: -35px;
  margin-bottom: -40px;
}
.footer-section{
  color: #06172d;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  margin-right: 0px;
  margin-top: 20px;
  margin-left: -15px;
  margin-right:-15px;
  align-items: center;
  justify-content:space-around;
  gap: 0.5px;
}

h4{
  font-family:'Times New Roman', Times, serif;
  color: #06172d;
  text-align: center;
}
.footer-list{
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  list-style-type: none;
  text-decoration: none;
  justify-content: center;
  margin-right: 20px;
  margin-left: -10px;
}
nav a{
  color:#06172d;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  text-decoration: none;
  text-align:center;
  text-transform: capitalize;
}
.footer-section-wrapper{
  flex-direction: row;
  justify-content:space-around;
  justify-content:center;
  text-align: left;
  display:inline-flex;
  gap:2.5rem;
}
/* Location / NL map */
.footer-map{
  width: 10rem;
  margin-left: -35px;
  margin-right: -80px;
  margin-top: 7px;
  text-align: right;
}
/* Copyright */
.footer-copyright-container{
  flex-direction: row;
  justify-content:space-between;
  justify-content: space-around;
  font-size: x-small;
  text-align:left;
  padding:5px;
  margin-top:85px;
  margin-left: -535px;
  font-family: cursive;
  font-size:x-small;
  font-style: italic;
}
/* Subscribe */
form input{
  width: 177px;
  height: 35px;
  border-radius: 4px;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 10px;
  outline: none;
  border: none;
  justify-content: space-around;
}
form button{
  background: transparent;
  border: 2px solid #06172d;
  color: #06172d;
  border-radius: 30px;
  padding: 6px 15px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 8px;
  margin-top: -10px;
}



