
body{
  background-color:white;
}
/* Navegation-menu set-up */
nav {
  color:#06172d;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align:inherit;
  padding: 20px;
}
nav li{

}
nav a{
  color:#06172d;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  text-align:inherit;
  }
  /* Change the nav color to #111 (black) on hover */
  nav a:hover {
  color: rgb(202, 37, 92);
  }
  nav a::before{
  content:'';
  display: block;
  height: 3px;
  width: 50%;
  color: #e73434;
  }
/* Navegation section set-up */
  ul {
    list-style-type:none;
    float:center;
    margin-top: 0px;
    padding: 15px;
    overflow:hidden;
    background-color:white;
    list-style: none;
  }
nav li{
  display:inline-block;
  margin-left: 0px;
  padding: 7px;
  position:relative;
  }
li {
  float: left;
}
nav div {
  display: flex;
 }
.dropdown-content div{
  display: block;
  margin: 7px;
}
/* Recent videos section set-up */
  .recent-videos div{
    margin-top: 70px;
    margin-bottom: 70px;
    border-top: #06172d;
    border-bottom: #06172d;
    display: flex
  }
    
  .footer {
    background-color:rgb(149, 219, 246);
    margin-top: 70px;
    width: 100%;
    padding: 50px 15%;
    color: #06172d;
    display: flex;
   }
  .footer div{
    text-align: center;
  }
  .col-2{
    flex-grow: 1;
  }
  .footer div h3{
    font-weight:300;
    margin-bottom: 25px;
    letter-spacing: 1px;
  }
  .col-1 a{
    display:block;
    text-decoration: none;
    color: #06172d;
    margin-bottom: 10px;
  }
  form input{
    width: 250px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
    outline: none;
    border: none;
  }
  form button{
    background: transparent;
    border: 2px solid #06172d;
    color: #06172d;
    border-radius: 30px;
    padding: 7px 25px;
    font-size: 15px;
    cursor: pointer;
  }
  h5{
    position: relative;
    text-align: center;
  }
  
  .main {
    background-color:white;
    margin-top: 30px;
    width: 100%;
    padding: 25px 15%;
    color: #06172d;
    display:flex;
   }
  .main div{
    text-align: center;
  }
  .col-2{
    flex-grow: 1;
  }
  .main div h3{
    font-weight:300;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 40px;
    letter-spacing: 1px;
  }
  .col-1 a{
    display:block;
    text-decoration:none;
    color: #06172d;
    margin-bottom: 10px;
  }
  button{
    background: transparent;
    border: none;
    padding: 7px 25px;
    font-size: 15px;
    cursor: pointer;
  }
  h2{
    position: relative;
    text-align: center;
  }
  .main div p{
    border: none;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 50px;
    background-color: none; 
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
  }